<div class="row">
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
    <h1>Experiencia Laboral</h1>
    <p>Sin experiencia previa en el mundo de la programación</p>
    <span></span>
    <h1>Formación</h1>
    <h3>Formación Académica</h3>
    <p>Estudiante de la carrera de Ciencias de la Computación en la Facultad de Matemática, Astronomía y Física de la Universidad Nacional de Córdoba.</p>
    <h3>Cursos</h3>
    <ol>
        <li>"Introduction to programming in Python". Realizado a través de Coursera, brindado por la Universidad de Toronto.</li>
        <li>"Argentina Programa 3.0". Brindado por el Instituto Nacional de Tecnología Industrial del Ministerio de Economía de la República Argentina.</li>
    </ol>
    </div>
</div>