<div class="row">
    <h1>Hard & Soft skills</h1>
  <div class="text center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
    [percent]="85"
    [radius]="100"
    [showUnits]="false"
    [title]=" 'HTML' "
    [showSubtitle]="false"
    [imageSrc]=" '/Users/tina/Documents/GitHub/portfoliopedro/portfoliopedro/src/assets/html5-logo-10.png'"
    [showImage]="true"
    [imageHeight]="70"
    [imageWidth]="70"
    [showTitle]="true"
    [outerStrokeWidth]="10"
    [innerStrokeWidth]="2"
    [outerStrokeColor]="'#008B8B'"
    [innerStrokeColor]="'#008B8B'"
    [animation]="true"
    [animationDuration]="450"
></circle-progress>
<circle-progress
    [percent]="85"
    [radius]="100"
    [showUnits]="false"
    [title]=" 'CSS' "
    [showSubtitle]="false"
    [outerStrokeWidth]="10"
    [innerStrokeWidth]="2"
    [outerStrokeColor]="'#008B8B'"
    [innerStrokeColor]="'#008B8B'"
    [animation]="true"
    [animationDuration]="450"
></circle-progress>
<circle-progress
    [percent]="70"
    [radius]="100"
    [showUnits]="false"
    [title]=" 'JAVASCRIPT' "
    [showSubtitle]="false"
    [outerStrokeWidth]="10"
    [innerStrokeWidth]="2"
    [outerStrokeColor]="'#008B8B'"
    [innerStrokeColor]="'#008B8B'"
    [animation]="true"
    [animationDuration]="450"
></circle-progress>
<circle-progress
    [percent]="100"
    [radius]="100"
    [showUnits]="false"
    [title]=" 'INGLÉS' "
    [showSubtitle]="false"
    [outerStrokeWidth]="10"
    [innerStrokeWidth]="2"
    [outerStrokeColor]="'#008B8B'"
    [innerStrokeColor]="'#008B8B'"
    [animation]="true"
    [animationDuration]="450"
></circle-progress>
<circle-progress
    [percent]="65"
    [radius]="100"
    [showUnits]="false"
    [title]=" 'TEAMWORK' "
    [showSubtitle]="false"
    [outerStrokeWidth]="10"
    [innerStrokeWidth]="2"
    [outerStrokeColor]="'#008B8B'"
    [innerStrokeColor]="'#008B8B'"
    [animation]="true"
    [animationDuration]="450"
></circle-progress>
</div>
</div>